{
  "swagger": "2.0",
  "info": {
    "title": "KMD Studica - Students",
    "version": "v1"
  },
  "host": "gateway.kmdlogic.io",
  "basePath": "/studica-demo/students/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/AggregateExistsExternal": {
      "get": {
        "tags": [
          "AggregateExistsExternal"
        ],
        "operationId": "AggregateExistsExternal_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "SchoolCode",
            "required": true,
            "type": "string",
            "maxLength": 6,
            "minLength": 6
          },
          {
            "in": "query",
            "name": "TableName",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "IdColumn",
            "required": true,
            "type": "string"
          },
          {
            "in": "query",
            "name": "Id",
            "required": true,
            "type": "string",
            "format": "uuid"
          },
          {
            "in": "query",
            "name": "Filter",
            "required": true,
            "type": "string",
            "enum": [
              "None",
              "SchoolCode",
              "InstitutionNumber"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "boolean",
              "x-nullable": false
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "AggregateExistsExternal"
        ],
        "operationId": "_AggregateExistsExternal_Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/AggregateExistsExternalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "type": "boolean",
              "x-nullable": false
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/BulkStudentsExternal": {
      "post": {
        "tags": [
          "BulkStudentsExternal"
        ],
        "operationId": "BulkStudentsExternal_Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/BulkStudentsExternalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "uniqueItems": false,
              "type": "array",
              "items": {
                "$ref": "#/definitions/StudentExternalResponse"
              }
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    },
    "/StudentsExternal": {
      "get": {
        "tags": [
          "StudentsExternal"
        ],
        "operationId": "StudentsExternal_Get",
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "StudyStartDateFrom",
            "description": "Beginning of range for start date of the students study.",
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "StudyStartDateTo",
            "description": "End of range for start date of the students study.",
            "required": true,
            "type": "string",
            "format": "date"
          },
          {
            "in": "query",
            "name": "PageNumber",
            "description": "The number of the page to return (1 is the first page).",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 2147483647,
            "minimum": 1
          },
          {
            "in": "query",
            "name": "PageSize",
            "description": "Number of objects per page.",
            "required": true,
            "type": "integer",
            "format": "int32",
            "maximum": 1000,
            "minimum": 1
          },
          {
            "in": "query",
            "name": "InlineCount",
            "description": "A flag indicating if total number of items should be included.",
            "required": true,
            "type": "boolean"
          },
          {
            "in": "query",
            "name": "SchoolCode",
            "description": "The school code for which to get data.",
            "required": true,
            "type": "string",
            "maxLength": 6,
            "minLength": 6
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PagedResponse_StudentExternalResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      },
      "post": {
        "tags": [
          "StudentsExternal"
        ],
        "operationId": "_StudentsExternal_Post",
        "consumes": [
          "application/json-patch+json",
          "application/json",
          "text/json",
          "application/*+json"
        ],
        "produces": [
          "text/plain",
          "application/json",
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "schema": {
              "$ref": "#/definitions/StudentsExternalRequest"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/PagedResponse_StudentExternalResponse"
            }
          }
        },
        "security": [
          {
            "Bearer": []
          }
        ]
      }
    }
  },
  "definitions": {
    "AggregateExistsExternalRequest": {
      "title": "AggregateExistsExternalRequest",
      "required": [
        "schoolCode",
        "tableName",
        "idColumn",
        "id",
        "filter"
      ],
      "type": "object",
      "properties": {
        "schoolCode": {
          "maxLength": 6,
          "minLength": 6,
          "type": "string"
        },
        "tableName": {
          "type": "string"
        },
        "idColumn": {
          "type": "string"
        },
        "id": {
          "format": "uuid",
          "type": "string",
          "x-nullable": false
        },
        "filter": {
          "enum": [
            "None",
            "SchoolCode",
            "InstitutionNumber"
          ],
          "type": "string",
          "x-nullable": false
        }
      }
    },
    "BulkStudentsExternalRequest": {
      "title": "BulkStudentsExternalRequest",
      "description": "Returns a paged list of students for given criteria.",
      "required": [
        "studentIds",
        "schoolCode"
      ],
      "type": "object",
      "properties": {
        "studentIds": {
          "description": "Student ids for bulk query.",
          "maxLength": 1000,
          "minLength": 1,
          "uniqueItems": false,
          "type": "array",
          "items": {
            "format": "uuid",
            "type": "string",
            "x-nullable": false
          }
        },
        "schoolCode": {
          "description": "The school code for which to get data.",
          "maxLength": 6,
          "minLength": 6,
          "type": "string"
        }
      }
    },
    "StudentExternalResponse": {
      "title": "StudentExternalResponse",
      "description": "Model of the student.",
      "required": [
        "id",
        "civilRegistrationNumber",
        "protectedNameAndAddress",
        "email",
        "studyStartDate",
        "departmentId",
        "studentTypes",
        "guardians"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "Student's identifier.",
          "type": "string",
          "x-nullable": false
        },
        "civilRegistrationNumber": {
          "description": "Student's civil registration number.",
          "type": "string"
        },
        "givenName": {
          "description": "Student's given name.",
          "type": "string"
        },
        "surname": {
          "description": "Student's surname.",
          "type": "string"
        },
        "protectedGivenName": {
          "description": "Protected given name from national registry",
          "type": "string"
        },
        "protectedSurname": {
          "description": "Protected surname from national registry",
          "type": "string"
        },
        "careOfAddress": {
          "description": "The C/O address line of the student.",
          "type": "string"
        },
        "addressLine": {
          "description": "Full address including street, house-nr letter, etc. where the student lives.",
          "type": "string"
        },
        "place": {
          "description": "The place of the student.",
          "type": "string"
        },
        "city": {
          "description": "The city where the student lives.",
          "type": "string"
        },
        "postalCode": {
          "description": "The matching postal code for the city.",
          "type": "string"
        },
        "country": {
          "description": "The country where the student lives.",
          "type": "string"
        },
        "protectedNameAndAddress": {
          "description": "Whether the name and address of the applicant are protected.",
          "type": "boolean",
          "x-nullable": false
        },
        "phoneNumber": {
          "description": "The student's phone number.",
          "type": "string"
        },
        "email": {
          "description": "Student's e-mail address.",
          "type": "string"
        },
        "uniLoginUsername": {
          "description": "Student's Unilogin username.",
          "type": "string"
        },
        "studyStartDate": {
          "format": "date",
          "description": "Study date of start.",
          "type": "string",
          "example": "2020-07-01T00:00:00.0000000",
          "x-nullable": false
        },
        "studyEndDate": {
          "format": "date",
          "description": "Study date of end.",
          "type": "string",
          "example": "2020-07-01T00:00:00.0000000"
        },
        "departmentId": {
          "format": "uuid",
          "description": "Id of the department that student is affiliated to.",
          "type": "string",
          "x-nullable": false
        },
        "dsDepartmentNumber": {
          "description": "DS Department number that student is affiliated to.",
          "type": "string"
        },
        "studyEndCause": {
          "description": "Cause of study ending.",
          "type": "string"
        },
        "adUsername": {
          "description": "Student's Active Directory username.",
          "type": "string"
        },
        "studentTypes": {
          "description": "StudentTypes associated with the student.",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Student_Type"
          }
        },
        "guardians": {
          "description": "The student's guardian(s).",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/Student_Guardian"
          }
        }
      }
    },
    "Student_Type": {
      "title": "Student_Type",
      "required": [
        "id",
        "validFrom"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "description": "The student type",
          "type": "string",
          "x-nullable": false
        },
        "validFrom": {
          "format": "date",
          "description": "The date from which the studenttype is valid",
          "type": "string",
          "example": "2020-07-01T00:00:00.0000000",
          "x-nullable": false
        },
        "validTo": {
          "format": "date",
          "description": "The end date of the studenttype",
          "type": "string",
          "example": "2020-07-01T00:00:00.0000000"
        }
      }
    },
    "Student_Guardian": {
      "title": "Student_Guardian",
      "required": [
        "id",
        "protectedNameAndAddress"
      ],
      "type": "object",
      "properties": {
        "id": {
          "format": "uuid",
          "type": "string",
          "x-nullable": false
        },
        "civilRegistrationNumber": {
          "description": "The guardian's Civil Registration number.",
          "type": "string"
        },
        "role": {
          "description": "The guardian's role towards the student.",
          "enum": [
            "Mother",
            "Father",
            "Other",
            "OfficialAuthority"
          ],
          "type": "string"
        },
        "givenName": {
          "description": "The guardian's first- and middle names.",
          "type": "string"
        },
        "surname": {
          "description": "The guardian's last name.",
          "type": "string"
        },
        "protectedGivenName": {
          "description": "The given name(s) of the guardian, as registered in the national registry.",
          "type": "string"
        },
        "protectedSurname": {
          "description": "The surname of the guardian, as registered in the national registry.",
          "type": "string"
        },
        "phoneNumber": {
          "description": "The guardian's phone number.",
          "type": "string"
        },
        "email": {
          "description": "The guardian's e-mail address.",
          "type": "string"
        },
        "careOfAddressLine": {
          "description": "The C/O address line of the guardian.",
          "type": "string"
        },
        "addressLine": {
          "description": "The guardian's full address including street, house-nr letter, etc.",
          "type": "string"
        },
        "place": {
          "description": "The place of the guardian.",
          "type": "string"
        },
        "city": {
          "description": "The city where the guardian lives.",
          "type": "string"
        },
        "postalCode": {
          "description": "The matching postal code for the city.",
          "type": "string"
        },
        "country": {
          "description": "The country where the guardian lives.",
          "type": "string"
        },
        "protectedNameAndAddress": {
          "description": "Whether the guardian has name and address protection.",
          "type": "boolean",
          "x-nullable": false
        }
      }
    },
    "PagedResponse_StudentExternalResponse": {
      "type": "object",
      "properties": {
        "items": {
          "description": "Page of items",
          "uniqueItems": false,
          "type": "array",
          "items": {
            "$ref": "#/definitions/StudentExternalResponse"
          },
          "readOnly": true
        },
        "totalItems": {
          "format": "int32",
          "description": "Total number of items",
          "type": "integer",
          "readOnly": true
        }
      }
    },
    "StudentsExternalRequest": {
      "title": "StudentsExternalRequest",
      "description": "Returns a paged list of students for given criteria.",
      "required": [
        "studyStartDateTo",
        "pageNumber",
        "pageSize",
        "inlineCount",
        "schoolCode"
      ],
      "type": "object",
      "properties": {
        "studyStartDateFrom": {
          "format": "date",
          "description": "Beginning of range for start date of the students study.",
          "type": "string",
          "example": "2020-07-01T00:00:00.0000000"
        },
        "studyStartDateTo": {
          "format": "date",
          "description": "End of range for start date of the students study.",
          "type": "string",
          "example": "2020-07-01T00:00:00.0000000",
          "x-nullable": false
        },
        "pageNumber": {
          "format": "int32",
          "description": "The number of the page to return (1 is the first page).",
          "maximum": 2147483647,
          "minimum": 1,
          "type": "integer",
          "x-nullable": false
        },
        "pageSize": {
          "format": "int32",
          "description": "Number of objects per page.",
          "maximum": 1000,
          "minimum": 1,
          "type": "integer",
          "x-nullable": false
        },
        "inlineCount": {
          "description": "A flag indicating if total number of items should be included.",
          "default": true,
          "type": "boolean",
          "x-nullable": false
        },
        "schoolCode": {
          "description": "The school code for which to get data.",
          "maxLength": 6,
          "minLength": 6,
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header",
      "description": "JWT Authorization header using the Bearer scheme. Example: \"Authorization: Bearer {token}\""
    }
  }
}