{
	"swagger": "2.0",
	"info": {
		"title": "Studica (Demo) - Statistics",
		"version": "v1"
	},
	"host": "api.studica.dk",
	"basePath": "/demo/statistics/v1",
	"schemes": [
		"https"
	],
	"securityDefinitions": {
		"apiKeyHeader": {
			"type": "apiKey",
			"name": "Ocp-Apim-Subscription-Key",
			"in": "header"
		},
		"apiKeyQuery": {
			"type": "apiKey",
			"name": "subscription-key",
			"in": "query"
		}
	},
	"security": [
		{
			"apiKeyHeader": []
		},
		{
			"apiKeyQuery": []
		}
	],
	"paths": {
		"/DeleteHandinsExternal": {
			"post": {
				"operationId": "DeleteHandinsExternal_Post",
				"summary": "DeleteHandinsExternal_Post",
				"tags": [
					"DeleteHandinsExternal"
				],
				"parameters": [
					{
						"name": "deleteHandinsExternalCommand",
						"in": "body",
						"schema": {
							"$ref": "#/definitions/DeleteHandinsExternalCommand"
						}
					}
				],
				"consumes": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		},
		"/SubmitHandinsExternal": {
			"post": {
				"operationId": "SubmitHandinsExternal_Post",
				"summary": "SubmitHandinsExternal_Post",
				"tags": [
					"SubmitHandinsExternal"
				],
				"parameters": [
					{
						"name": "submitHandinsExternalCommand",
						"in": "body",
						"schema": {
							"$ref": "#/definitions/SubmitHandinsExternalCommand"
						}
					}
				],
				"consumes": [
					"application/json"
				],
				"responses": {
					"200": {
						"description": "Success"
					}
				}
			}
		}
	},
	"definitions": {
		"DeleteHandinsExternalCommand": {
			"title": "DeleteHandinsExternalCommand",
			"description": "Delete previously uploaded handins",
			"required": [
				"handinIds",
				"schoolCode"
			],
			"type": "object",
			"properties": {
				"handinIds": {
					"description": "IDs of the handins to delete",
					"type": "array",
					"items": {
						"format": "uuid",
						"title": "Guid",
						"type": "string",
						"x-nullable": false
					}
				},
				"schoolCode": {
					"title": "String",
					"description": "The school code for which to get data.",
					"maxLength": 6,
					"minLength": 6,
					"type": "string"
				}
			},
			"additionalProperties": false,
			"example": {
				"handinIds": [
					"string"
				],
				"schoolCode": "string"
			}
		},
		"ExternalHandinDto": {
			"title": "ExternalHandinDto",
			"required": [
				"assignmentId",
				"assignmentTitle",
				"assignmentType",
				"deadline",
				"handinId",
				"markScale",
				"status",
				"studentIds"
			],
			"type": "object",
			"properties": {
				"handinId": {
					"format": "uuid",
					"title": "Guid",
					"description": "The ID of the handin",
					"type": "string",
					"x-nullable": false
				},
				"studentIds": {
					"description": "ID of the student(s) that the handin relates to (Studica StudentId's)",
					"minItems": 1,
					"type": "array",
					"items": {
						"format": "uuid",
						"title": "Guid",
						"type": "string",
						"x-nullable": false
					}
				},
				"assignmentId": {
					"format": "uuid",
					"title": "Guid",
					"description": "ID of the assignment",
					"type": "string",
					"x-nullable": false
				},
				"assignmentTitle": {
					"title": "String",
					"description": "Title of the assignment",
					"maxLength": 255,
					"minLength": 1,
					"type": "string"
				},
				"assignmentType": {
					"title": "AssignmentType",
					"description": "Type of assignment",
					"enum": [
						"Individual",
						"TeacherCreatedGroup",
						"StudentCreatedGroup",
						"DifferentTasksIndividual"
					],
					"type": "string",
					"x-nullable": false
				},
				"deadline": {
					"format": "date-time",
					"title": "DateTime",
					"description": "Deadline for the assignment",
					"type": "string",
					"x-nullable": false
				},
				"deliveryTime": {
					"format": "date-time",
					"description": "Timestamp of the student's delivery of the handin",
					"type": "string"
				},
				"feedbackTime": {
					"format": "date-time",
					"description": "Timestamp of when the teacher has provided feedback",
					"type": "string"
				},
				"markScale": {
					"title": "MarkScale",
					"description": "The mark scale used for grading",
					"enum": [
						"PassedNotPassed",
						"SevenPointScale",
						"PercentScale",
						"NoMarks"
					],
					"type": "string",
					"x-nullable": false
				},
				"markValue": {
					"title": "String",
					"description": "The mark value given to the student(s) for the handin\r\nNote that this is mark values used in Teams, which differs somewhat from UMO mark values",
					"type": "string"
				},
				"immersionTimeInMinutes": {
					"format": "int32",
					"description": "Time (in minutes) related to the assignment/handin",
					"type": "integer"
				},
				"status": {
					"title": "HandinStatus",
					"description": "Status for the handin (not submitted, submitted, rejected)",
					"enum": [
						"NotSubmitted",
						"Submitted",
						"Rejected"
					],
					"type": "string",
					"x-nullable": false
				},
				"feedback": {
					"title": "String",
					"description": "Textual feedback on the handin",
					"maxLength": 255,
					"type": "string"
				},
				"rejectedReason": {
					"title": "String",
					"description": "Reason for rejection (if status is rejected)",
					"maxLength": 255,
					"type": "string"
				},
				"connectedTopicTitle": {
					"title": "String",
					"description": "Title of connected topic",
					"maxLength": 255,
					"type": "string"
				},
				"plagiarismScore": {
					"format": "int32",
					"description": "Plagiarism score (0 - 100)",
					"maximum": 100,
					"minimum": 0,
					"type": "integer"
				},
				"assignmentUrl": {
					"title": "String",
					"description": "Url to the assignment",
					"maxLength": 255,
					"type": "string"
				}
			},
			"additionalProperties": false
		},
		"SubmitHandinsExternalCommand": {
			"title": "SubmitHandinsExternalCommand",
			"description": "Upload data about handins (to be used for statistics about written absence)",
			"required": [
				"handins",
				"schoolCode"
			],
			"type": "object",
			"properties": {
				"handins": {
					"description": "New handins to create",
					"type": "array",
					"items": {
						"$ref": "#/definitions/ExternalHandinDto"
					}
				},
				"schoolCode": {
					"title": "String",
					"description": "The school code for which to get data.",
					"maxLength": 6,
					"minLength": 6,
					"type": "string"
				}
			},
			"additionalProperties": false,
			"example": {
				"handins": [
					{
						"handinId": "string",
						"studentIds": [
							"string"
						],
						"assignmentId": "string",
						"assignmentTitle": "string",
						"assignmentType": "Individual",
						"deadline": "string",
						"deliveryTime": "string",
						"feedbackTime": "string",
						"markScale": "PassedNotPassed",
						"markValue": "string",
						"immersionTimeInMinutes": 0,
						"status": "NotSubmitted",
						"feedback": "string",
						"rejectedReason": "string",
						"connectedTopicTitle": "string",
						"plagiarismScore": 0,
						"assignmentUrl": "string"
					}
				],
				"schoolCode": "string"
			}
		}
	},
	"tags": []
}