{"swagger":"2.0","info":{"title":"KMD Studica (Demo) - Programmes","version":"1.0.0"},"host":"gateway.kmdlogic.io","basePath":"/studica-demo/programmes/v1","schemes":["https"],"paths":{"/AddLessonExternal":{"post":{"tags":["AddLessonExternal"],"operationId":"AddLessonExternal_Post","consumes":["application/json-patch+json","application/json","text/json","application/*+json"],"produces":["application/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"body","name":"body","schema":{"$ref":"#/definitions/AddLessonExternalCommand"}}],"responses":{"200":{"description":"Success"}}}},"/EducationalProgrammesExternal":{"get":{"tags":["EducationalProgrammesExternal"],"operationId":"EducationalProgrammesExternal_Get","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"query","name":"StartDateFrom","description":"Beginning of the range for start date of the educational programmes.","required":true,"type":"string","format":"date"},{"in":"query","name":"StartDateTo","description":"End of the range for start date of the educational programmes.","required":true,"type":"string","format":"date"},{"in":"query","name":"SchoolCode","description":"The school code for which to get data.","required":true,"type":"string","maxLength":6,"minLength":6},{"in":"query","name":"PageNumber","description":"The number of the page to return (1 is the first page).","required":true,"type":"integer","format":"int32","maximum":2147483647.0,"minimum":1.0},{"in":"query","name":"PageSize","description":"Number of objects per page.","required":true,"type":"integer","format":"int32","maximum":1000.0,"minimum":1.0},{"in":"query","name":"InlineCount","description":"A flag indicating if total number of items should be included.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PagedResponse_EducationalProgrammeExternalResponse"}}}}},"/LessonsExternal":{"get":{"tags":["LessonsExternal"],"operationId":"LessonsExternal_Get","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"query","name":"DepartmentId","description":"Department where the lesson is conducted.","type":"string","format":"uuid"},{"in":"query","name":"DateFrom","description":"Beginning of range for lesson date.","required":true,"type":"string","format":"date"},{"in":"query","name":"DateTo","description":"End of range for lesson date.","required":true,"type":"string","format":"date"},{"in":"query","name":"SchoolCode","description":"The school code for which to get data.","required":true,"type":"string","maxLength":6,"minLength":6},{"in":"query","name":"PageNumber","description":"The number of the page to return (1 is the first page).","required":true,"type":"integer","format":"int32","maximum":2147483647.0,"minimum":1.0},{"in":"query","name":"PageSize","description":"Number of objects per page.","required":true,"type":"integer","format":"int32","maximum":1000.0,"minimum":1.0},{"in":"query","name":"InlineCount","description":"A flag indicating if total number of items should be included.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PagedResponse_LessonsExternalResponse"}}}}},"/SubjectCoursesExternal":{"get":{"tags":["SubjectCoursesExternal"],"operationId":"SubjectCoursesExternal_Get","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"query","name":"StartDateFrom","description":"Beginning of the range for start date subject courses.","required":true,"type":"string","format":"date"},{"in":"query","name":"StartDateTo","description":"End of the range for start date subject courses.","required":true,"type":"string","format":"date"},{"in":"query","name":"SchoolCode","description":"The school code for which to get data.","required":true,"type":"string","maxLength":6,"minLength":6},{"in":"query","name":"PageNumber","description":"The number of the page to return (1 is the first page).","required":true,"type":"integer","format":"int32","maximum":2147483647.0,"minimum":1.0},{"in":"query","name":"PageSize","description":"Number of objects per page.","required":true,"type":"integer","format":"int32","maximum":1000.0,"minimum":1.0},{"in":"query","name":"InlineCount","description":"A flag indicating if total number of items should be included.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PagedResponse_SubjectCourseExternalResponse"}}}}}},"definitions":{"AddLessonExternalCommand":{"title":"AddLessonExternalCommand","description":"Creates new lesson.","required":["id"],"type":"object","properties":{"id":{"format":"uuid","description":"Identifier of the lesson.","type":"string","x-nullable":false},"roomId":{"format":"uuid","description":"Identifier of the room where lesson is conducted.","type":"string"},"date":{"format":"date","description":"Date of the lesson.","type":"string"},"startTime":{"description":"Start time of the lesson.","type":"string"},"endTime":{"description":"End time of the lesson.","type":"string"},"rule":{"type":"string"},"schoolCode":{"description":"The school code for which command is performed.","type":"string"}}},"PagedResponse_EducationalProgrammeExternalResponse":{"type":"object","properties":{"items":{"description":"Page of items","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/EducationalProgrammeExternalResponse"},"readOnly":true},"totalItems":{"format":"int32","description":"Total number of items","type":"integer","readOnly":true}}},"EducationalProgrammeExternalResponse":{"title":"EducationalProgrammeExternalResponse","description":"Model of the educational programme.","required":["id","name","startDate","endDate"],"type":"object","properties":{"id":{"format":"uuid","description":"Id of the educational programme.","type":"string","x-nullable":false},"name":{"description":"Name of the educational programme.","type":"string"},"startDate":{"format":"date","description":"Start date of the educational programme.","type":"string","x-nullable":false},"endDate":{"format":"date","description":"End date for the educational programme.","type":"string","x-nullable":false}}},"PagedResponse_LessonsExternalResponse":{"type":"object","properties":{"items":{"description":"Page of items","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/LessonsExternalResponse"},"readOnly":true},"totalItems":{"format":"int32","description":"Total number of items","type":"integer","readOnly":true}}},"LessonsExternalResponse":{"title":"LessonsExternalResponse","description":"The model of lesson.","required":["id","subjectCourseId","roomId","date"],"type":"object","properties":{"id":{"format":"uuid","description":"Unique identifier.","type":"string","x-nullable":false},"name":{"description":"Name of the lesson.","type":"string"},"subjectCourseId":{"format":"uuid","description":"Reference to the subject course that lesson is part of.","type":"string","x-nullable":false},"roomId":{"format":"uuid","description":"Reference to the room where lesson is conducted.","type":"string","x-nullable":false},"date":{"format":"date","description":"Date of the lesson.","type":"string","x-nullable":false},"startTime":{"description":"Start time of the lesson.","type":"string"},"endTime":{"description":"End time of the lesson.","type":"string"}}},"PagedResponse_SubjectCourseExternalResponse":{"type":"object","properties":{"items":{"description":"Page of items","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/SubjectCourseExternalResponse"},"readOnly":true},"totalItems":{"format":"int32","description":"Total number of items","type":"integer","readOnly":true}}},"SubjectCourseExternalResponse":{"title":"SubjectCourseExternalResponse","description":"Model of the subject course.","required":["id","educationalProgrammeId","name","startDate","endDate","lmsIndicator"],"type":"object","properties":{"id":{"format":"uuid","description":"Id of the subject course.","type":"string","x-nullable":false},"educationalProgrammeId":{"format":"uuid","description":"Id of the associated educational programme.","type":"string","x-nullable":false},"defaultSubjectId":{"format":"uuid","description":"The id of the default subject for this subject course","type":"string"},"name":{"description":"Name of the subject course.","type":"string"},"startDate":{"format":"date","description":"Start date of the subject course.","type":"string","x-nullable":false},"endDate":{"format":"date","description":"End date for the subject course.","type":"string","x-nullable":false},"lmsIndicator":{"description":"Is the entity to be created in the LMS.","type":"boolean","x-nullable":false}}}}}