{"swagger":"2.0","info":{"title":"KMD Studica (Demo) - School Administration","version":"1.0.0"},"host":"gateway.kmdlogic.io","basePath":"/studica-demo/school-administration/v1","schemes":["https"],"paths":{"/AreasOfResponsibilityExternal":{"get":{"tags":["AreasOfResponsibilityExternal"],"operationId":"AreasOfResponsibilityExternal_Get","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"query","name":"SchoolCode","description":"The school code for which to get data.","required":true,"type":"string","maxLength":6,"minLength":6},{"in":"query","name":"PageNumber","description":"The number of the page to return (1 is the first page).","required":true,"type":"integer","format":"int32","maximum":2147483647.0,"minimum":1.0},{"in":"query","name":"PageSize","description":"Number of objects per page.","required":true,"type":"integer","format":"int32","maximum":1000.0,"minimum":1.0},{"in":"query","name":"InlineCount","description":"A flag indicating if total number of items should be included.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PagedResponse_AreasOfResponsibilityExternalResponse"}}}}},"/DayCalendarsExternal":{"get":{"tags":["DayCalendarsExternal"],"operationId":"DayCalendarsExternal_Get","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"query","name":"SchoolCode","description":"The school code for which to get data.","required":true,"type":"string","maxLength":6,"minLength":6},{"in":"query","name":"PageNumber","description":"The number of the page to return (1 is the first page).","required":true,"type":"integer","format":"int32","maximum":2147483647.0,"minimum":1.0},{"in":"query","name":"PageSize","description":"Number of objects per page.","required":true,"type":"integer","format":"int32","maximum":1000.0,"minimum":1.0},{"in":"query","name":"InlineCount","description":"A flag indicating if total number of items should be included.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PagedResponse_DayCalendarsExternalResponse"}}}}},"/DepartmentsExternal":{"get":{"tags":["DepartmentsExternal"],"operationId":"DepartmentsExternal_Get","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"query","name":"SchoolCode","description":"The school code for which to get data.","required":true,"type":"string","maxLength":6,"minLength":6},{"in":"query","name":"PageNumber","description":"The number of the page to return (1 is the first page).","required":true,"type":"integer","format":"int32","maximum":2147483647.0,"minimum":1.0},{"in":"query","name":"PageSize","description":"Number of objects per page.","required":true,"type":"integer","format":"int32","maximum":1000.0,"minimum":1.0},{"in":"query","name":"InlineCount","description":"A flag indicating if total number of items should be included.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PagedResponse_DepartmentsExternalResponse"}}}}},"/EmployeesExternal":{"get":{"tags":["EmployeesExternal"],"operationId":"EmployeesExternal_Get","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"query","name":"EmploymentStartDateFrom","description":"Beginning of range for start date employment.","required":true,"type":"string","format":"date"},{"in":"query","name":"EmploymentStartDateTo","description":"End of range for start date employment.","required":true,"type":"string","format":"date"},{"in":"query","name":"SchoolCode","description":"The school code for which to get data.","required":true,"type":"string","maxLength":6,"minLength":6},{"in":"query","name":"PageNumber","description":"The number of the page to return (1 is the first page).","required":true,"type":"integer","format":"int32","maximum":2147483647.0,"minimum":1.0},{"in":"query","name":"PageSize","description":"Number of objects per page.","required":true,"type":"integer","format":"int32","maximum":1000.0,"minimum":1.0},{"in":"query","name":"InlineCount","description":"A flag indicating if total number of items should be included.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PagedResponse_EmployeeExternalResponse"}}}}},"/RoomsExternal":{"get":{"tags":["RoomsExternal"],"operationId":"RoomsExternal_Get","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"query","name":"SchoolCode","description":"The school code for which to get data.","required":true,"type":"string","maxLength":6,"minLength":6},{"in":"query","name":"PageNumber","description":"The number of the page to return (1 is the first page).","required":true,"type":"integer","format":"int32","maximum":2147483647.0,"minimum":1.0},{"in":"query","name":"PageSize","description":"Number of objects per page.","required":true,"type":"integer","format":"int32","maximum":1000.0,"minimum":1.0},{"in":"query","name":"InlineCount","description":"A flag indicating if total number of items should be included.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PagedResponse_RoomExternalResponse"}}}}},"/SchoolHourEntriesExternal":{"get":{"tags":["SchoolHourEntriesExternal"],"operationId":"SchoolHourEntriesExternal_Get","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"query","name":"SchoolCode","description":"The school code for which to get data.","required":true,"type":"string","maxLength":6,"minLength":6},{"in":"query","name":"PageNumber","description":"The number of the page to return (1 is the first page).","required":true,"type":"integer","format":"int32","maximum":2147483647.0,"minimum":1.0},{"in":"query","name":"PageSize","description":"Number of objects per page.","required":true,"type":"integer","format":"int32","maximum":1000.0,"minimum":1.0},{"in":"query","name":"InlineCount","description":"A flag indicating if total number of items should be included.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PagedResponse_SchoolHourEntryExternalResponse"}}}}},"/SchoolHoursPlansExternal":{"get":{"tags":["SchoolHoursPlansExternal"],"operationId":"SchoolHoursPlansExternal_Get","produces":["text/plain","application/json","text/json"],"parameters":[{"in":"header","name":"Authorization","description":"Authorization Header","type":"string"},{"in":"query","name":"SchoolCode","description":"The school code for which to get data.","required":true,"type":"string","maxLength":6,"minLength":6},{"in":"query","name":"PageNumber","description":"The number of the page to return (1 is the first page).","required":true,"type":"integer","format":"int32","maximum":2147483647.0,"minimum":1.0},{"in":"query","name":"PageSize","description":"Number of objects per page.","required":true,"type":"integer","format":"int32","maximum":1000.0,"minimum":1.0},{"in":"query","name":"InlineCount","description":"A flag indicating if total number of items should be included.","required":true,"type":"boolean"}],"responses":{"200":{"description":"Success","schema":{"$ref":"#/definitions/PagedResponse_SchoolHoursPlanExternalResponse"}}}}}},"definitions":{"PagedResponse_AreasOfResponsibilityExternalResponse":{"type":"object","properties":{"items":{"description":"Page of items","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/AreasOfResponsibilityExternalResponse"},"readOnly":true},"totalItems":{"format":"int32","description":"Total number of items","type":"integer","readOnly":true}}},"AreasOfResponsibilityExternalResponse":{"title":"AreasOfResponsibilityExternalResponse","description":"The model of area of responsibility.","required":["id","name","validFrom"],"type":"object","properties":{"id":{"format":"uuid","description":"Identifier of the area of responsibility.","type":"string","x-nullable":false},"name":{"description":"Name of the area of responsibility.","maxLength":255,"minLength":1,"type":"string"},"validFrom":{"format":"date","description":"Start date of the area of responsibility.","type":"string","x-nullable":false},"validTo":{"format":"date","description":"End date of the area of responsibiliity.","type":"string"}}},"PagedResponse_DayCalendarsExternalResponse":{"type":"object","properties":{"items":{"description":"Page of items","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/DayCalendarsExternalResponse"},"readOnly":true},"totalItems":{"format":"int32","description":"Total number of items","type":"integer","readOnly":true}}},"DayCalendarsExternalResponse":{"title":"DayCalendarsExternalResponse","required":["id","schoolDays"],"type":"object","properties":{"id":{"format":"uuid","description":"Identifier of the day calendar.","type":"string","x-nullable":false},"name":{"description":"Name of the day calendar.","type":"string"},"schoolDays":{"description":"List of school days.","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/SchoolDay"}}}},"SchoolDay":{"title":"SchoolDay","required":["date","isSchoolDay"],"type":"object","properties":{"date":{"format":"date","description":"Date of the school day.","type":"string","x-nullable":false},"isSchoolDay":{"description":"Flag indicating if a day is a school day.","type":"boolean","x-nullable":false},"comment":{"description":"Comments to the school day.","type":"string"}}},"PagedResponse_DepartmentsExternalResponse":{"type":"object","properties":{"items":{"description":"Page of items","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/DepartmentsExternalResponse"},"readOnly":true},"totalItems":{"format":"int32","description":"Total number of items","type":"integer","readOnly":true}}},"DepartmentsExternalResponse":{"title":"DepartmentsExternalResponse","description":"Model of department.","required":["id","name","validFrom"],"type":"object","properties":{"id":{"format":"uuid","description":"Identifier of the department.","type":"string","x-nullable":false},"name":{"description":"Name of the department.","maxLength":255,"minLength":1,"type":"string"},"validFrom":{"format":"date","description":"Beginning date of being valid.","type":"string","x-nullable":false},"validTo":{"format":"date","description":"End date of being valid.","type":"string"}}},"PagedResponse_EmployeeExternalResponse":{"type":"object","properties":{"items":{"description":"Page of items","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/EmployeeExternalResponse"},"readOnly":true},"totalItems":{"format":"int32","description":"Total number of items","type":"integer","readOnly":true}}},"EmployeeExternalResponse":{"title":"EmployeeExternalResponse","description":"Model of the employee.","required":["id","civilRegistrationNumber","lmsIndicator","givenName","surname","email"],"type":"object","properties":{"id":{"format":"uuid","description":"Gets employee identifier in Studica.","type":"string","x-nullable":false},"civilRegistrationNumber":{"description":"Gets employee civil registration number.","type":"string"},"lmsIndicator":{"description":"Gets Learning Management System indicator.","type":"boolean","x-nullable":false},"givenName":{"description":"Gets employee given name.","type":"string"},"surname":{"description":"Gets employee surname.","type":"string"},"email":{"description":"Gets employee e-mail address.","type":"string"},"uniLoginUsername":{"description":"Gets employee Unilogin username.","type":"string"},"adUserName":{"description":"Gets employee Active Directory username.","type":"string"},"employmentResignationDate":{"format":"date","description":"Gets employee resignation date.","type":"string"}}},"PagedResponse_RoomExternalResponse":{"type":"object","properties":{"items":{"description":"Page of items","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/RoomExternalResponse"},"readOnly":true},"totalItems":{"format":"int32","description":"Total number of items","type":"integer","readOnly":true}}},"RoomExternalResponse":{"title":"RoomExternalResponse","description":"Model of the room.","required":["id","name","designation","roomType"],"type":"object","properties":{"id":{"format":"uuid","description":"Id of the room.","type":"string","x-nullable":false},"name":{"description":"Name of the room.","type":"string"},"designation":{"description":"Acronym used for the room.","type":"string"},"description":{"description":"Description of the room.","type":"string"},"roomType":{"description":"Type of room.","enum":["ClassRoom","Lab","Workshop","Gym","Auditorium","MeetingRoom","Other"],"type":"string","x-nullable":false},"capacity":{"format":"int32","description":"Capacity for meetings.","type":"integer"},"maximumPersonsAllowed":{"format":"int32","description":"Maximum persons allowed in the room.","type":"integer"},"addressLine":{"description":"Address of the building where the room is located.","type":"string"},"city":{"description":"City of the building where the room is located.","type":"string"},"postalCode":{"description":"Postal code of the building where the room is located.","type":"string"}}},"PagedResponse_SchoolHourEntryExternalResponse":{"type":"object","properties":{"items":{"description":"Page of items","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/SchoolHourEntryExternalResponse"},"readOnly":true},"totalItems":{"format":"int32","description":"Total number of items","type":"integer","readOnly":true}}},"SchoolHourEntryExternalResponse":{"title":"SchoolHourEntryExternalResponse","description":"Model of the school hour entry.","required":["schoolHoursPlanId","entryType"],"type":"object","properties":{"schoolHoursPlanId":{"format":"uuid","description":"Id of school hours plan where this entry belongs to.","type":"string","x-nullable":false},"entryType":{"description":"The type of entry.","enum":["Break","Lecture"],"type":"string","x-nullable":false},"name":{"description":"Optional name of this entry.","maxLength":255,"type":"string"},"duration":{"format":"int32","description":"Duration of this entry, only valid for breaks.","maximum":1440.0,"minimum":1.0,"type":"integer"}}},"PagedResponse_SchoolHoursPlanExternalResponse":{"type":"object","properties":{"items":{"description":"Page of items","uniqueItems":false,"type":"array","items":{"$ref":"#/definitions/SchoolHoursPlanExternalResponse"},"readOnly":true},"totalItems":{"format":"int32","description":"Total number of items","type":"integer","readOnly":true}}},"SchoolHoursPlanExternalResponse":{"title":"SchoolHoursPlanExternalResponse","description":"Model of the school hours plan.","required":["id","name","startTime","lectureDurationInMinutes","hasLecturesOnMondays","hasLecturesOnTuesdays","hasLecturesOnWednesdays","hasLecturesOnThursdays","hasLecturesOnFridays","hasLecturesOnSaturdays","hasLecturesOnSundays"],"type":"object","properties":{"id":{"format":"uuid","description":"Id of the school hours plan.","type":"string","x-nullable":false},"name":{"description":"Name of the school hours plan.","type":"string"},"startTime":{"description":"Start time for school day.","type":"string"},"lectureDurationInMinutes":{"format":"int32","description":"Duration of a lecture in minutes.","maximum":1440.0,"minimum":1.0,"type":"integer","x-nullable":false},"hasLecturesOnMondays":{"description":"Whether Mondays are school days.","type":"boolean","x-nullable":false},"hasLecturesOnTuesdays":{"description":"Whether Tuesdays are school days.","type":"boolean","x-nullable":false},"hasLecturesOnWednesdays":{"description":"Whether Wednesdays are school-days.","type":"boolean","x-nullable":false},"hasLecturesOnThursdays":{"description":"Whether Thursdays are school days.","type":"boolean","x-nullable":false},"hasLecturesOnFridays":{"description":"Whether Fridays are school days.","type":"boolean","x-nullable":false},"hasLecturesOnSaturdays":{"description":"Whether Saturdays are school days.","type":"boolean","x-nullable":false},"hasLecturesOnSundays":{"description":"Whether Sundays are school days.","type":"boolean","x-nullable":false}}}}}